---
layout: portal
---

<div id="apps" class="wrapper apps">
  <h2>LAN</h2>
  <ul class="listing-apps">
    {% for app in site.data.apps.apps.lan %}
    <li>
      <a class="app-tile" href="https://{{app[1]['domain']}}" data-appname="{{app[0]}}">
        <span class="first-letter"></span>
        <span class="name">{{app[0]}}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
  <h2>WAN</h2>
  <ul class="listing-apps">
    {% for app in site.data.apps.apps.wan %}
    <li>
      <a class="app-tile" href="https://{{app[1]['domain']}}" data-appname="{{app[0]}}">
        <span class="first-letter"></span>
        <span class="name">{{app[0]}}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
