---
layout: page
title: Tehtävät
permalink: tehtavat
hide: false
---

<p><i>Tiedot kerätty: {{site.quests-updated}}</i></p>

<button id="clear_search">Resetoi haku</button>
<button id="gps_search">Hae sijantini viereiset</button>

<table class="sortable display" id="quest_table">
  <thead>
    <tr class"header">
      <th></th>
      <th>Pokestop</th>
      <th>Palkinto</th>
      <th>Tehtävä</th>
    </tr>
  </thead>
  <tbody>
{% for quest in site.data.quests %}
<tr>
  <td>
    <div class="small-circle-cropper">
      <img class="small-circle-icon" src="{{quest.pokestop.image}}" />
    </div>
  </td>
  <td>
    <a href="https://maps.google.com/?q={{quest.pokestop.location}}">
     <img class="helper-icon" src="{{site.baseurl}}/assets/icons/map-marker.svg" />
    {{quest.pokestop.name}}
    </a>
    <br />
    <a class="searcher" href="#search={{quest.pokestop.olc_slug}}">
     <img class="helper-icon" src="{{site.baseurl}}/assets/icons/magnifying-glass.svg" />
    {{quest.pokestop.pluscode}}
    </a>
  </td>
  <td>
    <a class="searcher" href="#search={{quest.reward.slug}}">
      <img class="reward" src="{{quest.reward.image}}" />
    </a>
    {{quest.reward.text}}
  </td>
  <td>
    {{quest.task}}
  </td>
</tr>
{% endfor %}
  </tbody>
</table>

{% include quest_table_activate.html %}
