<script>
$(document).ready( function () {
  var searchHash = location.hash.substr(1),
      searchString = decodeURIComponent(searchHash.substr(searchHash.indexOf('search=')))
                                .split('&')[0]
                                .split('=')[1];
  var table = $('#quest_table').DataTable({
      "dom": '<"wrapper"fliptp>',
      "order": [[ 1, "asc" ]],
      "oSearch": { "sSearch": searchString },
  });

  table.on( 'search.dt', function () {
       document.location.hash = 'search=' + table.search();
  } );

  $("#quest_table tbody").on('click', 'a.searcher', function(){
    var searchHash = this.href;
    var searchString = decodeURIComponent(
      searchHash.substr(searchHash.indexOf('search='))
                                .split('&')[0]
                                .split('=')[1]
    );
    table.search(searchString).draw();
  });
  $("body").on('click', 'a.searcher', function(){
    var searchHash = this.href;
    var searchString = decodeURIComponent(
      searchHash.substr(searchHash.indexOf('search='))
                                .split('&')[0]
                                .split('=')[1]
    );
    table.search(searchString).draw();
  });

  $('#clear_search').on('click', function(){
    document.location.hash = ''; 
    table.search('').draw();
  });

  if ("geolocation" in navigator){
    $('#gps_search').show();
    $('#gps_search').on('click', function(){
      navigator.geolocation.getCurrentPosition(function(position){ 
        console.log(position.coords.latitude, position.coords.longitude);
        var fullCode = OpenLocationCode.encode(position.coords.latitude, position.coords.longitude);
        var searchString = fullCode.substr(4, 4);
        table.search(searchString).draw();
      }, function(){ alert('gps error'); }, {maximumAge:10000, timeout:5000, enableHighAccuracy:true});
    });
  }
});
</script>
