.circle-cropper{
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;

}
.circle-icon {
  display: inline;
  margin: 0 auto;
  //margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
}

.small-circle-cropper{
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  float: left;
}

.small-circle-icon {
  display: inline;
  margin: 0 auto;
  height: 50px;
  width: 50px;
}

.tiny-icon svg {
  display: block;
  float: left;
  margin: auto;
  width: 10px;
  height: 10px;
}

.helper-icon {
  display: inline;
  margin: 0;
}


img.reward {
  display: inline;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  float: left;
}

img.reward_accent {
  display: inline;
  margin: 0 auto;
  height: 20px;
  width: 20px;

}

div.accent_image {
  position: absolute;
  left: 5px;
  top: 5px;
}
